
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
  margin-top: 20px;
}


.container {
  margin-top: 20px;
  text-align: left;  
  padding: 10px;  
}


input[type="button"] {
	margin-top:20px;
	size: 90px;
}